/* шапка */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-row {
    /* вкл flex-box */
    display: flex;
    /* направление расположения блоков относительно Main axis (ось ОХ) слева направо */
    flex-direction: row;
    /* направление блоков относительно Cross axis (ось ОY) по центру */
    align-items: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* размер блока с лого и названием(его вес) относительно других блоков */
    flex-grow: 1;
}

.logo-img {
    margin-right: 40px;
}

.header-menu {
    flex-grow: 3;
}

.cards-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ПОДВАЛ */

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.social-networks {
    display: flex;
    justify-content: flex-end;
}

.footer-logo {
    margin: 10px;
    width: 75px;
    height: 75px;
}

.footer-search {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.footer-search-input {
    height: 35px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}

.footer-search-button {
    height: 35px;
    flex-grow: 2;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: white;
    cursor: pointer;
}

.footer-search-button:hover {
    border-color: red;
}
